<header>
    <div class="header">
        <div class="header__logo">
        <%= link_to "Nihon Today", root_path, class: "header__logo-link" %>
        </div>
        <nav class="header__nav">
        <ul class="header__nav-list">
            <li><%= link_to "Home", root_path, class: "header__nav-item" %></li>
        </ul>
        </nav>
    </div>
</header>